a{
  color: #f9f9f9;
}

a:hover{
  text-decoration: none;
  color: #ff9999;
}

body{
  background-color: #97202F;
  color: #161616;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

button{
  margin: 3%;
  box-shadow: 1px 1px 1px;
}

.left{
  float: left;
  background-color: #B00B1E;
  padding: 10%;
  margin: 1.5% ;
  box-shadow: 1px 2px 3px;
}

header, footer{
  background-color: #8C0818;
  text-align: center;
  padding: 2.5%;
  box-shadow: 1px 2px 3px;
}
