body{
  background-color: #97202F;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.left{
  float: left;
  background-color: #B00B1E;
  padding: 10%;
  margin: 1.5% ;
}

header, footer{
  background-color: #8C0818;
  text-align: center;
  padding: 2.5%;
}
